%h1.content-subhead
  = t('dashboard.index.title')
= render 'form'
.pure-g
  .pure-u-1-3
    %h1.content-subhead
      = t('dashboard.index.recent_words')
    %table.pure-table.pure-table-stacked
      %thead
        %tr
          %th #
          %th= t('dashboard.index.body')
          %th= t('dashboard.index.language')
          %th= t('dashboard.index.word_class')
      = render partial: "word", collection: @latest_words, as: :word
  .pure-u-2-3
    %h1.content-subhead
      = t('dashboard.index.recent_translations')
    %table.pure-table.pure-table-stacked
      %thead
        %tr
          %th #
          %th= t('dashboard.index.original')
          %th= t('dashboard.index.language')
          %th &rarr;
          %th= t('dashboard.index.translation')
          %th= t('dashboard.index.language')
      = render partial: "translation", collection: @latest_translations, as: :translation
