%tr
  %td.cell.icon-cell
    .icon
      %i.fa.fa-envelope-o
  %td.cell
    .topic-title= link_to(message.title, discussion_path(message)) if message.title
    .footer
      %span.timestamp
        = time_ago_in_words(message.last_reply.updated_at)
        = t('discussions.index.time_ago')
      = t('discussions.index.from_user')
      %span.author
        = message.last_reply.user.email
  %td.cell.replies
    .number= message.replies.count - 1
    .label
      = t('discussions.index.replies')


