= form_for(@translation, html: { class:"pure-form translations"} ) do |f|
  %h1.content-subhead
    Alkuperäinen
  .row.original
    = text_field_tag :original_body, "", class: "body searchable"
    = select_tag(:original_language_id, options_for_select(languages_for_select), class: "language_id")
    = f.hidden_field :original_id, class: "primary"
  %h1.content-subhead
    Käännös
  .row.original
    = text_field_tag :translation_body, "", class: "body searchable"
    = select_tag(:translation_language_id, options_for_select(languages_for_select), class: "language_id")
    = f.hidden_field :translation_id, class: "primary"
  .row
    = f.submit("Luo käännös &rarr;".html_safe, class: "pure-button pure-button-primary")
