%p
  = "Translation #{@translation.id} (#{@translation.original_id}) -> (#{@translation.translation.id})"
  %p
    = "Original: #{@translation.original.body}"
  %p
    = "Translation: #{@translation.translation.body}"
  %p
    = @translation.creator.email
