.pure-menu.pure-menu-horizontal
  = link_to "Satnegirji", root_path, class: "pure-menu-heading pure-menu-link nav-element-fix"
  %ul.pure-menu-list
    %li.pure-menu-item= link_to "Etusivu", root_path, class: "pure-menu-link"
    %li.pure-menu-item= link_to "Sanat", words_path, class: "pure-menu-link"
    %li.pure-menu-item= link_to "Käännökset", translations_path, class: "pure-menu-link"
    %li.pure-menu-item= link_to "Poistu", "#", class: "pure-menu-link"
