%tr
  %td= link_to translation.id, translation
  %td= translation.original.body
  %td= Language::find(translation.original.language_id)
  %td &nbsp;
  %td= translation.translation.body
  %td= Language::find(translation.translation.language_id)

