%h1.content-subhead
  Haku
= form_tag(search_for_words_path, method: :post, class: "pure-form") do
  = text_field_tag :keyword, ""
  = submit_tag "Hae", class: "pure-button pure-button-primary"
.pure-g
  .pure-u-1-2
    %h1.content-subhead
      Uusimmat sanat
    %ul
      = render partial: "word", collection: @latest_words, as: :word
  .pure-u-1-2
    %h1.content-subhead
      Uusimmat käännökset
    %ul
      = render partial: "translation", collection: @latest_translations, as: :translation
