%tr
  %td= word_description.id
  %td= Language::find(word_description.language_id)
  %td= word_description.body
  %td= word_description.creator.profile_name
  %td
    = link_to t('words.word_description.edit'), edit_word_word_description_path(@word, word_description)
    |
    = link_to t('words.word_description.delete'), [@word, word_description], method: :delete, data: { confirm: "#{t('words.word_description.confirm_delete')}" }
