.pure-g
  .pure-u-1-3
    %h1.content-subhead
      = t('words.show.word_detail')
    %table.pure-table.pure-table-bordered
      %tbody
        %tr
          %td Tunnus
          %td= @word.id
        %tr
          %td Sana
          %td= @word.body
        %tr
          %td Hakutermi
          %td= @word.keyword
        %tr
          %td Kieli
          %td= Language.find(@word.language_id)
        %tr
          %td Tyyppi
          %td= Language::WordClass.find(@word.word_class_id)
        %tr
          %td Luotu
          %td= @word.created_at.to_s(:short)
        %tr
          %td Muokattu
          %td= @word.updated_at.to_s(:short)
        %tr
          %td Luonut
          %td= @word.creator.email
  .pure-u-2-3
    %h1.content-subhead
      = t('words.show.translations')
    %table.pure-table.pure-table-bordered
      %thead
        %tr
          %th #
          %th Word
          %th Language
          %th Word Class
      %tbody
        = render partial: "translation", collection: @word.translations, as: :translation
%p
  = link_to "Palaa takaisin", words_path
