.pure-g
  .pure-u-1-3
    %h1.content-subhead
      = t('words.show.word_detail')
    = render 'words/word_detail'
  .pure-u-2-3
    %h1.content-subhead
      = t('words.show.new_word_description')
    = form_for([@word, @word_description], html: { class: "pure-form pure-form-aligned" }) do |f|
      .pure-control-group
        = f.label :language_id, t('words.new.form.language_id')
        = f.select :language_id, options_for_select(languages_for_select)
      .pure-control-group
        = f.label :body, t('words.new.form.word_description.body')
        = f.text_area :body, class: "pure-input-1-2"
      .pure-controls
        = f.submit value: t('words.new.form.submit'), class: "pure-button pure-button-primary"
        or
        = link_to  t('words.new.form.cancel'), @word